/* App.css */

.App {
    text-align: center;
  }
  
  .recipe-list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }
  
  .recipe-link {
    text-decoration: none;
    color: inherit;
  }
  
  .recipe {
    position: relative; /* Ensure the hover effect overlays the image */
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden; /* Clip overflow for rounded corners */
    margin: 16px;
    max-width: 400px;
    text-align: center;
  }
  
  .recipe img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease; /* Add transition for smooth effect */
  }
  
  .recipe:hover img {
    transform: scale(1.1); /* Scale up image on hover */
  }
  .searching-recipe
  {
    margin-bottom: 20px;
    text-align: center;

  }

  .search-input
  {
    padding: 0.6%;
    width: 400px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 1px 3px 5px 1px black;
  }
